@import '~bootstrap/scss/bootstrap';

#authentication {
  display: inline-flex;
}
.authentication-button {
  display: inline-flex;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;

}

#sign-up-form {
  width: 30vh;
  display: flex;
  flex-flow: column;
}
#sign-in-form {
  width: 30vh;
  display: flex;
  flex-direction: column;
}
#change-password-form {
  width: 30vh;
  display: flex;
  flex-direction: column;
}
